VITE_SUPABASE_URL=https://hpnczdyjdqpefxvvqshi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhwbmN6ZHlqZHFwZWZ4dnZxc2hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2MTY5MjMsImV4cCI6MjA5OTE5MjkyM30.1BCUDrnE7LNF99pcYnVqEIFAQvTEAKrtrXWeqTof6RQ
